:root {
  --primary: #EB6440;
  --navbar-offset: 250px;
}

.navbar-left {
  background-color: var(--primary);
  width: var(--navbar-offset);
  overflow-x: hidden;
  overflow-y: auto;
}

main {
  margin-left: var(--navbar-offset);
}

img.circular {
  border-radius: 50%;
}

.background {
  z-index: -1;
}

.splash-text {
  color: white;
  background-color: rgba(0,0,0,0.25);
  box-shadow: 0 0 10px rgba(0,0,0,0.25);
}

#splash-name {
  color: var(--primary);
}

#splash-screen {
  overflow: hidden;
}