:root {
  --primary: #EB6440;
  --light-bg: #fff4f1;
  --navbar-offset: 250px;
  --top-navbar-height: 76.55px;
  --skills-max: 10;
  --section-gap: 150px;
  --transition-duration: 0.5s;
}

#navbar {
  padding: 0.5rem;
}

.navbar-left {
  background-color: var(--primary);
  width: var(--navbar-offset);
  overflow-x: hidden;
  overflow-y: auto;
  transition: width var(--transition-duration);
}

.navbar-top {
  background-color: var(--primary);
  height: var(--top-navbar-height);
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
  align-items: center;
  padding-left: 10px;
  position: sticky;
  top: 0px;
  z-index: 999;
}

#top-navbar-link {
  flex: 1 1 auto;
  align-items: center;
  gap: 10px;
}

#openNav {
  height: 50px;
  width: 50px;
  border-radius: 10px;
  border: 2px solid black;
  background-color: var(--primary);
}

#openNav:hover {
  background-color: var(--light-bg);
  cursor: pointer;
}

#closeNav {
  margin: 10px;
  top: 0px;
  right: 0px;
  font-size: xx-large;
}

#closeNav:hover {
  background-color: var(--light-bg);
}

main {
  margin-left: var(--navbar-offset);
  transition: margin-left var(--transition-duration);
}

img.circular {
  border-radius: 50%;
}

.mini-profile {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.background {
  z-index: -1;
}

.splash-text {
  color: white;
  background-color: rgba(0,0,0,0.25);
  box-shadow: 0 0 10px rgba(0,0,0,0.25);
}

#splash-name {
  color: var(--primary);
}

#splash-screen {
  overflow: hidden;
}

#splash-screen-img {
  width: calc(100% - var(--navbar-offset));
  transition: width var(--transition-duration);
}

.border-right {
  border-right: 1px solid black;
}

.section {
  padding: calc(var(--section-gap) / 2) 0px calc(var(--section-gap) / 2) 35px;
}

#skills {
  padding: calc(var(--section-gap) / 4) 0px calc(var(--section-gap) / 2) 35px;
}

.year {
  min-width: 67px;
}

.section.even {
  background-color: var(--light-bg);
}

.section.odd {
  background-color: white;
}

.scroll-cue {
  width: 200px;
  height: 200px;
  bottom: 0px;
  left: 50%;
  object-fit: contain;
}

#nav-name {
  padding: 20px 0px;
}

.nav-item {
  font-size: larger;
  padding: 10px 0px;
}

.nav-link:hover {
  color: white;
}

.navbar .nav-link.active {
  color: white;
}

#nav-name:hover {
  color: white;
}

.logo-row img {
  height: 86.75px;
  object-fit: contain;
}

ul.no-bullets {
  list-style-type: none;
}

ul.no-bullets > li {
  padding: 5px 0px;
}

a.no-decor {
  text-decoration: none;
  font-size: larger;
  color: black;
}

.modal {
  background-color: rgba(0,0,0,0.25);
}

.card:hover {
  cursor: pointer;
}

.video {
  aspect-ratio: 560 / 315;
}

.company-logo {
  height: 100%;
  display: flex;
  align-items: center;
}

.company-logo img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 992px) {
  :root {
    --navbar-offset: 0px;
  }

  #navbar {
    padding: 0px;
  }
}