:root {
  --primary: #EB6440;
  --light-bg: #fff4f1;
  --navbar-offset: 250px;
  --skills-max: 10;
  --section-gap: 150px;
}

.navbar-left {
  background-color: var(--primary);
  width: var(--navbar-offset);
  overflow-x: hidden;
  overflow-y: auto;
}

main {
  margin-left: var(--navbar-offset);
}

img.circular {
  border-radius: 50%;
}

.background {
  z-index: -1;
}

.splash-text {
  color: white;
  background-color: rgba(0,0,0,0.25);
  box-shadow: 0 0 10px rgba(0,0,0,0.25);
}

#splash-name {
  color: var(--primary);
}

#splash-screen {
  overflow: hidden;
}

.border-right {
  border-right: 1px solid black;
}

.section {
  padding: calc(var(--section-gap) / 2) 0px calc(var(--section-gap) / 2) 35px;
}

#skills {
  padding: calc(var(--section-gap) / 4) 0px calc(var(--section-gap) / 2) 35px;
}

.section.even {
  background-color: var(--light-bg);
}

.section.odd {
  background-color: white;
}

.scroll-cue {
  width: 200px;
  height: 200px;
  bottom: 0px;
  left: 50%;
  object-fit: contain;
}

#nav-name {
  padding: 20px 0px;
}

.nav-item {
  font-size: larger;
  padding: 10px 0px;
}

.nav-link:hover {
  color: white;
}

.navbar .nav-link.active {
  color: white;
}

#nav-name:hover {
  color: white;
}

.logo-row img {
  height: 86.75px;
  object-fit: contain;
}

ul.no-bullets {
  list-style-type: none;
}

ul.no-bullets > li {
  padding: 5px 0px;
}

a.no-decor {
  text-decoration: none;
  font-size: larger;
  color: black;
}

.modal {
  background-color: rgba(0,0,0,0.25);
}

.card:hover {
  cursor: pointer;
}

.video {
  aspect-ratio: 560 / 315;
}